*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}
body{
    background-color: var(--bg-color);
}
:root{
    --bg-color: #F9FAFF;
    --text-color:#25282B;
    --barnd-yellow:#FDC435;
    --heading-color:#333333;
    --caption-color:#828282;
}
.highlight{
    background-color: var(--barnd-yellow);
}
/* -------basic css for whole landing page-------- */
.navigation-bar{
    position:sticky !important;
    top: 20px !important;
    z-index: 550;
}
.navbar-brand{
    font-family: "Comfortaa",sans-serif;
}
nav ul li a{
    color:var(--text-color) !important ;
    font-size: 18px !important;
    font-weight: 400 !important;
    transition: .5s !important;
}

@media screen and (max-width:768px) {
    nav ul li a:hover{
        background-color: #f5c449 !important;
        margin-bottom: 5px;
    }
    .navbar-nav{
        /* background-color: #FDC435 !important; */
        padding: 80px !important;
    }
    .activee{
        background-color: #f5c449 !important;
    }
}
/* nav section ended------------ */
.hero{
    margin-bottom: 100px;
}
.project-title{
    font-family: "Playfair Display", serif;
    font-size: 68px;
}
.project-caption{
    color: #828282;
    font-size: 18px;
}
@media screen and (max-width:800px) {
    .img-content{
        width: 100%;
        padding: 20px;
    }
    #user-img{
        width: 100% !important;
    }
    .project-title{
        font-size: 58px !important;
    }
}
/* --------hero section ended---------------- */
.contact{
    margin-bottom: 0px;
}
form{
    max-width: 400px;
    margin: auto;
}
.input{
    width: 100%;
    border-radius: 8px;
}
.input input{
    width: 100%;
    border: 0;
    outline: none;
    height: 40px;
    border-radius: 8px;
    margin-bottom: 10px;
}
.input textarea{
    border: 0;
    outline: none;
    border-radius: 8px;
    resize: none;
}
label{
    margin-bottom: 10px;
    color: #25282B;
}
.links div{
    margin: auto;
}
.links i{
    font-size: 20px !important;
    margin: 0px 20px;
    padding: 0px;
    font-size: 40px !important;
}
.brand{
    color: #828282;
}
.bottom-line {
   padding: 0 !important;
}
/* bottom section ends-------------------- */